*{
    margin: 0;
    padding: 0;
}
.banner{
    background: url(../images/pexels-nsmedia97-27777797.jpg);
    /* padding: 300px 0; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: aqua;
    font-size: 50px;
    font-family: "Playwrite AU SA", serif;
}
.st{
background: rgb(146, 73, 73);
padding: 10px;
text
}
.a{
    padding: 15px;
    font-family: "Playwrite AU SA", serif;
}
.a ul {
    list-style-type: none;
    margin: 0 0 0 650px;
}
.a{
    text-decoration: none;
    display: flex;   
    font-size: 15px; 
}
.a ul li{
    display: inline-block;
    padding: 0 5px;
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
    transition: .4s;
}
.a ul li:hover{
    color: white;
}
.a ul{
    /* text-align: center; */
}
.overlay{
    padding: 300px 0;
    background: rgba(0, 0, 0, 0.6);
}
.nxt{
    background: black;
    padding: 200px 0;
    display: flex;
}
.c{
    font-size: 40px;
    font-family: "Bubbler One", serif;
}